html {
    background-color: #525c59;
}

.b_u{
    top: 25px;
    position:relative;
    border-radius: 50px;
    list-style-type:none;
    background-color: #FFFFFF;
    height: 100px;
    width: 100px;
    left:-15px
}

.b_d{
    position:relative;
    border-radius: 50px;
    list-style-type:none;
    background-color: #FFFFFF; 
    height: 100px;
    width: 100px;
    top: -25px;
    left: -15px;
}

.g{
    border-radius: 15px 35px 35px 15px;
    list-style-type: none;
    background-color: #FFFFFF;
    height: 70px;
}

@media screen and (min-width: 800px){
    .b_u, .b_d, .g  {
    background-color: #2f1b0c;
    /*background-image: linear-gradient(to right, #f0c300, #FFFFFF, #2f1b0c);*/
    transition: 1s background-color; 
    }
}

@media screen and (max-width: 600px){
    .b_u, .b_d, .g {
    background-color: #f0c300;
    /*background-image: linear-gradient(to right, #f0c300, #FFFFFF, #2f1b0c);*/
    transition: 1s background-color;
    }
}
